In [111]:
# Import libraries

import requests
import pandas as pd 
import os 
import transform_functions as tf
import pycountry

In [8]:
# Read csv 2019
file = "Resources\world-happiness-report-2019.csv"
df2019 = pd.read_csv(file)
df2019.head()

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [6]:
# Read csv 2019

file2 = "Resources\world-happiness-report-2021.csv"
df2021 = pd.read_csv(file2)

In [44]:
# Inspect csv 2021
df2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [45]:
# Inspect csv 2019
df2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (region)         156 non-null    object
 1   Ladder                   156 non-null    int64
 2   SD of Ladder             156 non-null    int64
 3   Positive affect          155 non-null    float64
 4   Negative affect          155 non-null    float64
 5   Social support           155 non-null    float64
 6   Freedom                  155 non-null    float64
 7   Corruption               148 non-null    float64
 8   Generosity               155 non-null    float64
 9   Log of GDP
per capita    152 non-null    float64
 10  Healthy life
expectancy  150 non-null    float64
dtypes: float64(8), int64(2), object(1)
memory usage: 13.5+ KB

In [11]:
# Identify cols 2019
df2019.columns

Index(['Country (region)', 'Ladder', 'SD of Ladder', 'Positive affect',
       'Negative affect', 'Social support', 'Freedom', 'Corruption',
       'Generosity', 'Log of GDP\nper capita', 'Healthy life\nexpectancy'],
      dtype='object')

In [12]:
# Identify cols 2021
df2021.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [16]:
# Removing unnecessary columns 2021
clean_df2021 = df2021[['Country name','Regional indicator','Ladder score','Standard error of ladder score', 'Logged GDP per capita','Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity','Perceptions of corruption']]

In [34]:
# Renaming columns 2021

clean_2021 = clean_df2021.rename(columns={
    "Country name": "country",
    "Regional indicator": "region",
    "Ladder score": "happiness_score_2021",
    "Standard error of ladder score" : "sd_happiness_score_2021",
    "Logged GDP per capita": "log_GDP_per_capita_2021",
    "Social support": "social_support_2021",
    "Healthy life expectancy": "healthy_life_2021",
    "Freedom to make life choices": "freedom_2021",
    "Generosity": "generosity_2021",
    "Perceptions of corruption":"corruption_2021"
})
clean_2021.head()

,country,region,happiness_score_2021,sd_happiness_score_2021,log_GDP_per_capita_2021,social_support_2021,healthy_life_2021,freedom_2021,generosity_2021,corruption_2021
0,Finland,Western Europe,7.842,0.032,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,7.620,0.035,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,Western Europe,7.571,0.036,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,Western Europe,7.554,0.059,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,Western Europe,7.464,0.027,10.932,0.942,72.4,0.913,0.175,0.338

In [46]:
# Count rows
clean_2021.count()

country                    149
region                     149
happiness_score_2021       149
sd_happiness_score_2021    149
log_GDP_per_capita_2021    149
social_support_2021        149
healthy_life_2021          149
freedom_2021               149
generosity_2021            149
corruption_2021            149
dtype: int64

In [33]:
# Renaming columns 2019
clean_2019 = df2019.rename(columns={
    'Country (region)': "country",
    "Ladder": "happiness_score_2019",
    'SD of Ladder' : "sd_happiness_score_2019",
    'Log of GDP\nper capita': "log_GDP_per_capita_2019",
    'Social support': "social_support_2019",
    'Healthy life\nexpectancy': "healthy_life_2019",
    "Freedom": "freedom_2019",
    "Generosity": "generosity_2019",
    "Corruption":"corruption_2019"
})
clean_2019.head()

,country,happiness_score_2019,sd_happiness_score_2019,Positive affect,Negative affect,social_support_2019,freedom_2019,corruption_2019,generosity_2019,log_GDP_per_capita_2019,healthy_life_2019
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [86]:
# Merging 2019 and 2021 dfs
merged_df = pd.merge(clean_2021,clean_2019, on="country", how="left")
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  149 non-null    object
 1   region                   149 non-null    object
 2   happiness_score_2021     149 non-null    float64
 3   sd_happiness_score_2021  149 non-null    float64
 4   log_GDP_per_capita_2021  149 non-null    float64
 5   social_support_2021      149 non-null    float64
 6   healthy_life_2021        149 non-null    float64
 7   freedom_2021             149 non-null    float64
 8   generosity_2021          149 non-null    float64
 9   corruption_2021          149 non-null    float64
 10  happiness_score_2019     143 non-null    float64
 11  sd_happiness_score_2019  143 non-null    float64
 12  Positive affect          143 non-null    float64
 13  Negative affect          143 non-null    float64
 14  social_support_2019      143 non-null    float64
 15  freedom_2019             143 non-null    float64
 16  corruption_2019          136 non-null    float64
 17  generosity_2019          143 non-null    float64
 18  log_GDP_per_capita_2019  143 non-null    float64
 19  healthy_life_2019        140 non-null    float64
dtypes: float64(18), object(2)
memory usage: 24.4+ KB

In [67]:
# Describe merged df
merged_df.describe()

,happiness_score_2021,sd_happiness_score_2021,log_GDP_per_capita_2021,social_support_2021,healthy_life_2021,freedom_2021,generosity_2021,corruption_2021,happiness_score_2019,sd_happiness_score_2019,Positive affect,Negative affect,social_support_2019,freedom_2019,corruption_2019,generosity_2019,log_GDP_per_capita_2019,healthy_life_2019
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,156.000000,156.000000,155.000000,155.000000,155.000000,155.000000,148.000000,155.000000,152.000000,150.000000
mean,5.532839,0.058752,9.432208,0.814745,64.992799,0.791597,-0.015134,0.727450,78.500000,78.500000,78.000000,78.000000,78.000000,78.000000,74.500000,78.000000,76.500000,75.500000
std,1.073924,0.022001,1.158601,0.114889,6.762043,0.113332,0.150657,0.179226,45.177428,45.177428,44.888751,44.888751,44.888751,44.888751,42.868014,44.888751,44.022721,43.445368
min,2.523000,0.026000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4.852000,0.043000,8.541000,0.750000,59.802000,0.718000,-0.126000,0.667000,39.750000,39.750000,39.500000,39.500000,39.500000,39.500000,37.750000,39.500000,38.750000,38.250000
50%,5.534000,0.054000,9.569000,0.832000,66.603000,0.804000,-0.036000,0.781000,78.500000,78.500000,78.000000,78.000000,78.000000,78.000000,74.500000,78.000000,76.500000,75.500000
75%,6.255000,0.070000,10.421000,0.905000,69.600000,0.877000,0.079000,0.845000,117.250000,117.250000,116.500000,116.500000,116.500000,116.500000,111.250000,116.500000,114.250000,112.750000
max,7.842000,0.173000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000,156.000000,156.000000,155.000000,155.000000,155.000000,155.000000,148.000000,155.000000,152.000000,150.000000

In [94]:
# Drop any NaN's
main_df = merged_df.dropna()
main_df.count()

country                    133
region                     133
happiness_score_2021       133
sd_happiness_score_2021    133
log_GDP_per_capita_2021    133
social_support_2021        133
healthy_life_2021          133
freedom_2021               133
generosity_2021            133
corruption_2021            133
happiness_score_2019       133
sd_happiness_score_2019    133
Positive affect            133
Negative affect            133
social_support_2019        133
freedom_2019               133
corruption_2019            133
generosity_2019            133
log_GDP_per_capita_2019    133
healthy_life_2019          133
dtype: int64

In [95]:
# Check for null values
main_df.isnull().sum()

country                    0
region                     0
happiness_score_2021       0
sd_happiness_score_2021    0
log_GDP_per_capita_2021    0
social_support_2021        0
healthy_life_2021          0
freedom_2021               0
generosity_2021            0
corruption_2021            0
happiness_score_2019       0
sd_happiness_score_2019    0
Positive affect            0
Negative affect            0
social_support_2019        0
freedom_2019               0
corruption_2019            0
generosity_2019            0
log_GDP_per_capita_2019    0
healthy_life_2019          0
dtype: int64

In [96]:
# Checking duplicates
main_df.duplicated().sum()

0

In [129]:
# import country code list

import pycountry

input_countries = main_df["country"]

countries = {}
for country in pycountry.countries:
    countries[country.name] = country.alpha_2

codes = [countries.get(country, 'Unknown code') for country in input_countries]

C:\Users\Laura\anaconda3\envs\pythondata2\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
# Add codes into our main df

main_df["code"] = codes

In [127]:
# NORMALIZATION

# Create country DataFrame, setting index to country code

country_df = main_df[["code","country", "region"]]
country_df.set_index("code", inplace=True)
country_df.head()

          country          region
code
FI        Finland  Western Europe
DK        Denmark  Western Europe
CH    Switzerland  Western Europe
IS        Iceland  Western Europe
NL    Netherlands  Western Europe

In [123]:
# Create measures DataFrame

measures_df = main_df[["code","freedom_2021", "generosity_2021", "corruption_2021","freedom_2019", "generosity_2019", "corruption_2019",]]
measures_df.head()

,code,freedom_2021,generosity_2021,corruption_2021,freedom_2019,generosity_2019,corruption_2019
0,FI,0.949,-0.098,0.186,5.0,47.0,4.0
1,DK,0.946,0.030,0.179,6.0,22.0,3.0
2,CH,0.919,0.025,0.292,11.0,16.0,7.0
3,IS,0.955,0.160,0.673,7.0,3.0,45.0
4,NL,0.913,0.175,0.338,19.0,7.0,12.0

In [124]:
# Create happiness DataFrame


happiness_df = main_df[["code","happiness_score_2021","sd_happiness_score_2021","happiness_score_2019","sd_happiness_score_2019"]]
happiness_df.head()

,code,happiness_score_2021,sd_happiness_score_2021,happiness_score_2019,sd_happiness_score_2019
0,FI,7.842,0.032,1.0,4.0
1,DK,7.620,0.035,2.0,13.0
2,CH,7.571,0.036,6.0,11.0
3,IS,7.554,0.059,4.0,9.0
4,NL,7.464,0.027,5.0,1.0